In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [4]:
tickers = ['BBDC4.SA', 'ITSA4.SA']

portifolio = pd.DataFrame();
for t in tickers:
    portifolio[t] = wb.DataReader(t, data_source='yahoo', start='2010-1-1')['Adj Close']

In [5]:
portifolio.tail()

             BBDC4.SA  ITSA4.SA
Date
2020-07-16  22.299999     10.15
2020-07-17  22.410000     10.27
2020-07-20  22.620001     10.42
2020-07-21  23.230000     10.52
2020-07-22  22.830000     10.52

In [6]:
risco_retorno = np.log(portifolio / portifolio.shift(1))
risco_retorno

            BBDC4.SA  ITSA4.SA
Date
2010-01-04       NaN       NaN
2010-01-05 -0.004415 -0.003239
2010-01-06 -0.008036 -0.012240
2010-01-07 -0.002690 -0.005763
2010-01-08 -0.001080 -0.007460
...              ...       ...
2020-07-16 -0.017778 -0.011753
2020-07-17  0.004921  0.011753
2020-07-20  0.009327  0.014500
2020-07-21  0.026610  0.009551
2020-07-22 -0.017369  0.000000

[2583 rows x 2 columns]

# Taxa de retorno anual

In [12]:
risco_retorno[['BBDC4.SA', 'ITSA4.SA']].mean() * 250

BBDC4.SA    0.082655
ITSA4.SA    0.096685
dtype: float64

# Riscos

In [13]:
risco_retorno[['BBDC4.SA', 'ITSA4.SA']].std() * 250 ** 0.5

BBDC4.SA    0.401450
ITSA4.SA    0.312125
dtype: float64

# Curiosidade

A taxa de retorno anual do Bradesco (BBDC4) é de 8%
Ja a taxa de retorno anual do Itau (ITSA4) é de 9%


O curioso é que:

O Bradesco tem um risco de 40% ou seja tem uma alta volatilidade

Mas o Itau tem um risco de 31%, e sua taxa de retorno anual é superior. 

*Mas o valor do Bradesco é maior que do Itau, sera que isso tem relação?*