In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [4]:
tickers = ['BBDC4.SA', 'ABEV3.SA','PETR4.SA', 'ELET3.SA']

portifolio = pd.DataFrame();
for t in tickers:
    portifolio[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [6]:
cov_matrix_a = portifolio.cov() * 250
cov_matrix_a

              BBDC4.SA      ABEV3.SA      PETR4.SA      ELET3.SA
BBDC4.SA  15546.970024   7847.147391   3243.660239  12391.747010
ABEV3.SA   7847.147391  10492.083806  -6203.940132    244.551424
PETR4.SA   3243.660239  -6203.940132  12562.702681   9830.964173
ELET3.SA  12391.747010    244.551424   9830.964173  19088.342089

In [5]:
corr_matriz = portifolio.corr()
corr_matriz

          BBDC4.SA  ABEV3.SA  PETR4.SA  ELET3.SA
BBDC4.SA  1.000000  0.614334  0.231725  0.719259
ABEV3.SA  0.614334  1.000000 -0.540843  0.017278
PETR4.SA  0.231725 -0.540843  1.000000  0.632345
ELET3.SA  0.719259  0.017278  0.632345  1.000000