In [1]:
import pandas as pd
import numpy as np

In [2]:
serie = pd.Series(np.random.random(5), name="Coluna 1")

In [3]:
serie

0    0.320798
1    0.599449
2    0.975990
3    0.699457
4    0.978906
Name: Coluna 1, dtype: float64

In [4]:
serie[0]

0.32079760158708504

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.320252
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.269589
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.180927
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.193593
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.168259
...,...,...,...,...,...,...
2020-07-14,125.660004,123.500000,123.989998,125.089996,6272100.0,125.089996
2020-07-15,126.900002,124.260002,125.980003,124.500000,8145000.0,124.500000
2020-07-16,125.519997,123.910004,125.080002,124.760002,3959300.0,124.760002
2020-07-17,126.070000,124.830002,125.089996,125.629997,4868600.0,125.629997
2020-07-20,125.839996,124.790001,125.470001,125.239998,4119223.0,125.239998

In [17]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']

new_data = pd.DataFrame()

for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='2015-1-1')['Close']

In [19]:
new_data.tail()

                    PG        MSFT          T     F    GE
Date
2020-07-14  125.089996  208.350006  29.959999  6.36  6.88
2020-07-15  124.500000  208.039993  30.010000  6.74  7.14
2020-07-16  124.760002  203.919998  30.389999  6.86  7.05
2020-07-17  125.629997  202.880005  30.250000  6.80  7.07
2020-07-20  125.239998  211.600006  29.850000  6.66  6.87